
            .card-container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }

            .card {
                width: 300px;
                height: 200px;
                border-radius: 10px;
                background-color: #f1f1f1;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                display: none;
            }
     
            #pic {
                width: 100vw;
                height: 100vh;
                background-color: lightgray;
                margin-bottom: 20px;
            }

            .card {
                width: 98%;
                height: 200px;
                margin: auto;
                background-color: white;
                border-radius: 10px;
                display: none;
                padding: 20px;
            }
       